<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Junho Han, Seunghyun Lee, Jinwoo Shin">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      a {
        color : blue ;
        text-decoration: none;
      }
      a:hover{
        color : blue;
        text-decoration: underline;
      }
      a:visited{
        color:darkcyan;
      }
      a:active{
        color:black;
      }
      .container{
        max-width: 1140px;
        padding-top: 15px;
      }
      .col-sm-4 {
        padding-bottom: 1px;
      }
      .col-sm-10 {
        padding-bottom: 1px;
      }
      #footer{
        padding-top: 5px;
      }
      hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }

      .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
      }

      .btn-primary,
      .btn-primary:hover,
      .btn-primary:focus,
      .btn-primary:active,
      .btn-primary.active,
      .btn-primary:active,
      .btn-primary:active:focus,
      .open > .dropdown-toggle.btn-primary {
        border: none;
        background-color:#527bbd;
        box-shadow: none;
      }
    </style>

    <script>
      window.onload = function() {
        document.getElementById("fromyear").options[2009 - 1960].selected = true;
        document.getElementById("toyear").options[2018 - 1960].selected = true;
        document.getElementById("filter").options[1].selected = true;
        document.getElementById("filter2").options[2].selected = true;

        var ai = document.getElementById("AI");
        ai.checked = true;
        checkAll(ai);

        var nai = document.getElementById("non-AI");
        nai.checked = true;
        checkAll(nai);
      };

      function submit(){
      	var s1 = document.getElementById("fromyear").value;
      	var s2 = document.getElementById("toyear").value;
        var s3 = document.getElementById("filter").selectedIndex;
        var s4 = document.getElementById("filter2").selectedIndex;

      	var new_location = "/"+s1+s2+s3+s4+"_";

        var area_table = {{ area_table|safe }};

      	var i, j, k, l, checkboxes;
      	for (i = 0; i < area_table.length; i++) {
      	  for (j = 0; j < area_table[i][1].length; j++) {
      	    for (k = 0; k < area_table[i][1][j].length; k++) {
              checkboxes = document.getElementsByName(area_table[i][1][j][k][0]);
              for (l = 0; l < checkboxes.length; l++) {
                if (checkboxes[l].checked)
                  new_location += (checkboxes[l].id.replace(" ", "-") + "_");
              }
      	    }
      	  }
      	}

      	window.location = new_location;
      }

      function checkAll(topbox) {
        var checkboxes = document.getElementsByClassName(topbox.id);
        for (var i = 0; i < checkboxes.length; i++)
          checkboxes[i].checked = topbox.checked;
      }

      function checkParts(partbox) {
        if (!partbox.checked) {
          var topbox = document.getElementById(partbox.className);
          topbox.checked = false;
        }
        var checkboxes = document.getElementsByName(partbox.id);
        for (var i = 0; i < checkboxes.length; i++)
          checkboxes[i].checked = partbox.checked;
        allChecked(partbox.className);
      }

      function check(box) {
        if (!box.checked) {
          var topbox = document.getElementById(box.className);
          var partbox = document.getElementById(box.name);
          topbox.checked = false;
          partbox.checked = false;
        }
        partsChecked(box.name);
        allChecked(box.className);
      }

      function partsChecked(name) {
        var partbox = document.getElementById(name);
        var checkboxes = document.getElementsByName(name);
        var c = true;
        for (var i = 0; i < checkboxes.length; i++)
            if (!checkboxes[i].checked)
              c = false;
        partbox.checked = c;
      }

      function allChecked(id) {
        var topbox = document.getElementById(id);
        var checkboxes = document.getElementsByClassName(id);

        var a = 0;
        for (var i = 0; i < checkboxes.length; i++)
            if (!checkboxes[i].checked)
              return;
        topbox.checked = true;
      }
    </script>

    <title> Korean Computer Scientist Search (KCSS) </title>
  </head>

  <body>
    <br>
    <div class="container" id="header">
      <h2 style="font-family: Georgia, serif; font-weight: bold; color: #527bbd;">
        Korean Computer Scientist Search (KCSS)
      </h2>
    </div>
    <hr>

    <div class="container">
      <div class="form-inline">
        <div class="form-group">
          <label for="fromyear">From</label>
          <select class="form-control" id="fromyear">
            {% for year in years %}
              <option value="{{year}}">{{year}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="toyear">To</label>
          <select class="form-control" id="toyear">
            {% for year in years %}
              <option>{{year}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="filter">Filter</label>
          <select class="form-control" id="filter">
            <option>all</option>
            <option>only korean</option>
            <option>only first author</option>
            <option>only last author</option>
          </select>
        </div>

        <div class="form-group">
          <label for="filter2"></label>
          <select class="form-control" id="filter2">
            <option>&le; 10</option>
            <option>&le; 25</option>
            <option>&le; 50</option>
            <option>&le; 100</option>
          </select>
        </div>
        &nbsp;
        <div class="form-group">
          <button type="submit" onclick="submit()"
                  class="btn btn-primary form-control"><b>Submit</b></button>
        </div>
      </div>
    </div>

    <div class="container">
      {% for id, table in area_table%}
        <div class="row">
          <div class="col-sm-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="{{ id }}"
                       onclick="checkAll(this)"><b>All {{ id }} Areas</b>
              </label>
            </div>
          </div>
        </div>
        {% for row in table %}
          <div class="row">
            {% for area, conf_list in row %}
              <div class="col-sm-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="{{ id }}" id="{{ area }}"
                           onclick="checkParts(this)"><b>{{ area }}</b>
                  </label>
                </div>
                {% for conf, year in conf_list %}
                  <div class="checkbox" style="padding-left: 20px;">
                    <label>
                      <input type="checkbox" class="{{ id }}" name="{{ area }}" id="{{ conf }}"
                             onclick="check(this)">{{ conf }} {{ year }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    <hr>
    <div class="container" style="text-align: center" id="footer">
      <address>KCSS was created by
        <a href="mailto:jyuno426@kaist.ac.kr"> Junho Han</a>,
        <a href="mailto:camusian@kaist.ac.kr"> Seunghyun Lee</a> and
        <a href="mailto:jinwoos@kaist.ac.kr"> Jinwoo Shin</a> at
        <a href="http://alinlab.kaist.ac.kr"> Algorithmic Intelligence Laboratory, KAIST</a>. <br> <br>
        Korean names are classified by a LSTM model, and search results for Korean authors are not perfect. <br>
        If you could notify us Korean authors that do not appear in the search results, we will incorporate them.
      </address>
    </div>

  </body>
</html>